<mat-card>

    <h1>Student Form</h1>

    <form #studentform="ngForm">

      <div class="example-container">

          <p>
            <mat-form-field appearance="standard">
              <mat-label>Name</mat-label>
              <input matInput 
                [(ngModel)] = "name"
                name = "name"
                required>
            </mat-form-field>
          </p>

          <p>
            <mat-form-field appearance="standard">
              <mat-label>Mathematics</mat-label>
              <input matInput 
                [(ngModel)] = "mathematics"
                name = "mathematics"
                type = "number"
                min = "0"
                max = "100"
                required>
            </mat-form-field>
          </p>
          <mat-error><p *ngIf = "isErrorMat">The grade in mathematics can be between 0 and 100</p></mat-error>
          
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Psychometric</mat-label>
              <input matInput 
                [(ngModel)] = "psychometric"
                name = "psychometric"
                type = "number"
                min = "0"
                max = "800"
                required>
            </mat-form-field>
          </p>
          <mat-error><p *ngIf = "isErrorpsy">The grade in psychometric can be between 0 and 800</p></mat-error>
          
          <p>
            <mat-form-field appearance="fill">
                <mat-label>Payment Selection</mat-label>
                <mat-select place-holder = "payment" [(ngModel)] = "payment" name = "payment" required>
                    <mat-option value=True>true</mat-option>
                    <mat-option value=False>false</mat-option>
                </mat-select>
                </mat-form-field>
          </p>

          <p>
            <mat-form-field *ngIf = "result" appearance="fill">
                <mat-label [ngClass]="[result=='Does not fall off' ? 'green' : 'red']">{{result}}</mat-label>
                <mat-select place-holder = "result" [(ngModel)] = "result" name = "result">
                    <mat-option value="Does not fall off">Does not fall off</mat-option>
                    <mat-option value="fall off">fall off</mat-option>
                 </mat-select>
                 </mat-form-field>
          </p>

          <div>
            <button *ngIf = "!rowToSave"  mat-raised-button color="primary" (click) = "predict()" [disabled]="!studentform.form.valid">
                    Predict
                   </button>
                  <button *ngIf = "rowToSave" mat-raised-button color="primary" (click) = "add()">Save</button> 
                  <button *ngIf = "rowToSave" mat-raised-button (click) = "cancel()">Cancel</button> 
          </div>



      </div>

    </form>
    
  </mat-card>
    