<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false"
                       *ngFor="let city of ourCities">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{city.name}}
      </mat-panel-title>

        <button type = "submit" mat-raised-button color="primary" (click) = "getData(city.name)">Get data {{city.name}}</button>

    </mat-expansion-panel-header>
    <mat-panel-title *ngIf = "!hasError">Temperatures in {{city.name}} is {{(weatherData$ | async)?.temp | number:'1.0-0'}}º</mat-panel-title>
    <button  mat-raised-button color="primary" (click) = "predict()">
      Predict
     </button>
  </mat-expansion-panel>
</mat-accordion>
